<ion-view view-title="列表">

    <ion-nav-buttons side="right">
        <button ng-click="showSearchModal()" class="button button-clear button-dark button-icon ion-ios-search"></button>
    </ion-nav-buttons>

    <ion-content>

        <ion-list>
            <div class="item item-divider">
                模板
            </div>
            <ion-item class="item item-icon-left item-icon-right" ui-sref="app.slide2">
                <i class="icon ion-ionic assertive"></i>
                Slide Box2
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item item-icon-left item-icon-right" ui-sref="app.photobrowser">
                <i class="icon ion-ionic assertive"></i>
                photobrowser
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item item-icon-left item-icon-right" ui-sref="app.datepicker">
                <i class="icon ion-ionic assertive"></i>
                datePicker
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>


            <div class="item item-divider">
                组件
            </div>
            <ion-item class="item item-icon-left item-icon-right" ui-sref="app.listdemo">
                <i class="icon ion-ionic positive"></i>
                <h2>List Demo</h2>
                <p ng-show="">列表演示</p>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

            <ion-item class="item item-icon-left item-icon-right" ui-sref="app.actionsheet">
                <i class="icon ion-ionic positive"></i>
                Action Sheet
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item item-icon-left item-icon-right" ui-sref="app.popup">
                <i class="icon ion-ionic positive"></i>
                Popup
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item item-icon-left item-icon-right" ui-sref="app.side">
                <i class="icon ion-ionic positive"></i>
                Side Menu
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item item-icon-left item-icon-right" ui-sref="app.spinner">
                <i class="icon ion-ionic positive"></i>
                Spinner
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item item-icon-left item-icon-right" ui-sref="app.slide">
                <i class="icon ion-ionic positive"></i>
                Slide Box
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>
            <ion-item class="item item-icon-left item-icon-right" ui-sref="app.bar">
                <i class="icon ion-ionic positive"></i>
                bar
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>

            <a class="item item-icon-left item-icon-right" ui-sref="app.toggle">
                <i class="icon ion-ionic positive"></i>
                Toggle
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" ui-sref="app.checkbox">
                <i class="icon ion-ionic positive"></i>
                Checkbox
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" ui-sref="app.radio">
                <i class="icon ion-ionic positive"></i>
                Radio
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" ui-sref="app.range">
                <i class="icon ion-ionic positive"></i>
                Range
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" ui-sref="app.select">
                <i class="icon ion-ionic positive"></i>
                Select
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" ui-sref="app.forms">
                <i class="icon ion-ionic positive"></i>
                Forms(fade)
                <i class="icon ion-ios-arrow-right"></i>
            </a>
            <a class="item item-icon-left item-icon-right" ui-sref="app.device">
                <i class="icon ion-ionic positive"></i>
                设备信息(flip up)
                <i class="icon ion-ios-arrow-right"></i>
            </a>



        </ion-list>



    </ion-content>
</ion-view>
