<ion-view view-title="列表">
    <ion-content>

        <ion-list>

            <ion-item class="item item-icon-right"  ui-sref="app.detail">
                <h2>List Demo</h2>
                <p ng-show="">列表演示</p>
                <i class="icon ion-ios-arrow-right"></i>
            </ion-item>


            <ion-item class="item item-icon-left item-icon-right" href="#/app/detail">
                <i class="icon ion-bag"></i>
                Shopping
                <i class="icon ion-arrow-right-c"></i>
            </ion-item>


            <ion-item class="item item-icon-left item-icon-right" href="#/app/detail">
                <i class="icon ion-bag"></i>
                Shopping
                <i class="icon ion-arrow-right-c"></i>
            </ion-item>
        </ion-list>



    </ion-content>
</ion-view>
