<ion-view view-title="首页" ng-controller="HomeCtrl" >

    <ion-nav-buttons side="right">
        <button  class="button button-clear button-dark button-icon ion-compose" ng-click="showNewProductModal()"></button>
    </ion-nav-buttons>
    <ion-content class="home">


        <ion-slide-box auto-play="true" slide-interval="3000" does-continue="true" >
            <ion-slide>
                <img src="/images/banner2.jpg" width="100%"/>
            </ion-slide>
            <ion-slide>
                <img src="/images/banner1.jpg" width="100%"/>
            </ion-slide>
            <ion-slide >
                <img src="/images/banner3.jpg" width="100%"/>
            </ion-slide>
        </ion-slide-box>


        <!--<div class="home_banner">-->
            <!--<div><img src="/images/banner2.jpg" width="100%"/></div>-->
            <!--<div><img src="/images/banner1.jpg" width="100%"/></div>-->
            <!--<div><img src="/images/banner3.jpg" width="100%"/></div>-->
        <!--</div>-->


        <div class="list card" ng-repeat="item in items">
            <div class="item">
                <h2>{{item.name}}</h2>
            </div>

            <div class="item item-image">
                <img src="{{item.url}}">
            </div>

            <a class="item item-icon-right assertive" href="#">
                {{item.tagline}}
                <i class="icon ion-arrow-right-c"></i>
            </a>
        </div>


    </ion-content>




</ion-view>

