<ion-view hide-tabs="true" view-title="设备信息" ng-controller="FuncCtrl as func">
    <ion-content padding="10">

        <button class="button  button-full button-positive" ng-click="showDeviceInfo()">
            show deviceInfo
        </button>

        <div>
            <p>{{devices.netType}}</p>
            <p>{{devices.isOnline}}</p>
            <p>{{devices.cordova}}</p>
            <p>{{devices.model}}</p>
            <p>{{devices.platform}}</p>
            <p>{{devices.uuid}}</p>
            <p>{{devices.version}}</p>
            <p>{{devices.device}}</p>

        </div>

   </ion-content>


</ion-view>
