<ion-view hide-tabs="true" view-title="popup" ng-controller="FuncCtrl as func">
    <ion-content padding="10">



        <button class="button  button-full button-positive" ng-click="func.showPopup()">
            show Popup
        </button>

        <button class="button  button-full button-positive" ng-click="func.showConfirm()">
            show confirm
        </button>
        <button class="button  button-full button-positive" ng-click="func.showAlert()">
            show alert
        </button>
    </ion-content>
</ion-view>
