<ion-view hide-tabs="true" view-title="select">
    <ion-content>
        <div class="list">

            <label class="item item-input item-select">
                <div class="input-label">
                    Lightsaber
                </div>
                <select>
                    <option>Blue</option>
                    <option selected>Green</option>
                    <option>Red</option>
                </select>
            </label>



            <label class="item item-input item-select">
                <div class="input-label">
                    programming language
                </div>
                <select>
                    <option>java</option>
                    <option selected>c++</option>
                    <option>js</option>
                    <option>node</option>
                </select>
            </label>

        </div>
    </ion-content>
</ion-view>
