



        <ion-view hide-tabs="true" view-title="sideMenu">
            <ion-nav-buttons side="right">
                <button  class="button button-clear button-dark button-icon ion-navicon" ng-click="toggleRight()"></button>
            </ion-nav-buttons>

            <ion-side-menus>
                <!-- Left menu -->
                <ion-side-menu side="right">
                </ion-side-menu>

                <ion-side-menu-content>

                </ion-side-menu-content>

            </ion-side-menus>
        </ion-view>
