
<ion-tabs class="tabs-stable tabs-icon-top tabs-color-dark" ng-cloak ng-class="{'tabs-item-hide': $root.hideTabs}" >

    <ion-tab title="首页" icon-on="ion-ios-home" icon-off="ion-ios-home" href="#/app/home">
        <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>

    <ion-tab title="列表" icon-on="ion-ios-list" icon-off="ion-ios-list-outline" href="#/app/list">
        <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>

    <ion-tab title="我的" icon-on="ion-ios-heart" icon-off="ion-ios-heart-outline" href="#/app/my">
        <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>

    <ion-tab title="设置" icon-on="ion-ios-gear" icon-off="ion-ios-gear-outline" href="#/app/settings">
        <ion-nav-view name="tab4"></ion-nav-view>
    </ion-tab>


</ion-tabs>
