<ion-modal-view >

    <ion-header-bar>
        <h1 class="title">添加</h1>
        <div class="buttons">
            <button class="button button-clear button-positive" ng-click="modal.hide()">cancle</button>
        </div>
    </ion-header-bar>



    <ion-content>
        <div class="list">
            <label class="item item-input item-stacked-label">
                <span class="input-label">Name</span>
                <input type="text" ng-model="newProduct.name" placeholder="Lily">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">describe</span>
                <input type="text" ng-model="newProduct.tagline" placeholder="美女图片描述">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">url</span>
                <input type="text" ng-model="newProduct.url" placeholder="http://7xl5o6.com1.z0.glb.clouddn.com/e61190ef76c6a7ef230806c9f9faaf51f3de6637.jpg" >
            </label>
        </div>

        <button class="button  button-full button-positive" ng-click="createProduct(newProduct)">
           create
        </button>
    </ion-content>
</ion-modal-view>