<ion-modal-view >

    <ion-header-bar>
        <h1 class="title">search</h1>
        <div class="buttons">
            <button class="button button-clear button-positive" ng-click="modal.hide()">Cancel</button>
        </div>
    </ion-header-bar>


    <div id="search-bar">
        <div class="item item-input-inset">
            <label class="item-input-wrapper" id="search-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search" ng-model="query" ng-change="search()">
            </label>
        </div>
    </div>


    <ion-content>

    </ion-content>
</ion-modal-view>