<ion-view view-title="设置">
    <ion-content>




        <ion-item class="item item-avatar" href="#" style="margin: 20px 0 50px">
            <img src="/images/banner1.jpg">
            <h2>feixm86s</h2>
            <p>https://github.com/feixm86s/meteor-magic-box</p>
        </ion-item>



        <ion-item href="#" class="item  item-icon-left item-icon-right" ui-sref="app.about">
            <i class="icon ion-ios-gear-outline"></i>
            安全设置
            <i class="icon ion-ios-arrow-right"></i>
        </ion-item>

        <ion-item href="#" class="item  item-icon-left item-icon-right" ui-sref="app.about">
            <i class="icon ion-ios-book-outline"></i>
            帮助
            <i class="icon ion-ios-arrow-right"></i>
        </ion-item>

        <ion-item href="#" class="item  item-icon-left item-icon-right" ui-sref="app.about">
            <i class="icon ion-ios-settings"></i>
            通用
            <i class="icon ion-ios-arrow-right"></i>
        </ion-item>

        <ion-item href="#" class="item  item-icon-left item-icon-right"   ui-sref="app.about" >
            <i class="icon ion-card"></i>
            关于ionic+meteor+angular
            <i class="icon ion-ios-arrow-right"></i>
        </ion-item>



    </ion-content>
</ion-view>
